

body{ background-color: currentcolor;
	margin-left: 10%;
	margin-right: 10%;
}

.put-color{
width: 40%;
margin: 30%;
text-align: center;
}

.link-decoration{ text-decoration: none; }

li{ color: azure;}

.logo{ margin-left: -29%;}
.navbar-position{ margin-left: 10%;}

table{
	color: white;
}
	
.font-color{
 color: azure;
}

a:link {color:white;}    /* unvisited link */
a:visited {color:white;} /* visited link */
a:hover {color:white;}   /* mouse over link */
a:active {color:white;}  /* selected link */
.nounderline a{
	text-decoration:none;
}
p {
	color: white;
}

