

.putColor{
background-color:;
width: 40%;
margin: 30%;
text-align: center;
}


.main-container{
width: 100%;
background-color: currentcolor;
height: 90%;
padding: 10%;
}

.font-color{
 color: azure;
}

.navbar-position{
	position: relative;
	left: 25%;
}
.searchbar-position{
	width: 400px;
}
.vid-container{
	width: 350px;
	height: 230px;
}
.vid-container-views{
	
	margin-right: 70%;
}