

body{ background-color: currentcolor;
	margin-left: 10%;
	margin-right: 10%;
}

.put-color{
background-color:;
width: 40%;
margin: 30%;
text-align: center;
}


.link-decoration{ text-decoration: none; }

/*
.main-container{
width: 100%;
background-color: currentcolor;
height: 90%;
padding: 10%;
}
.navbar-position{
	position: relative;
	left: 25%;
}
.searchbar-position{
	width: 400px;
}
.vid-container{
	width: 350px;
	height: 230px;
}
.vid-container-views{
	
	margin-right: 70%;
}
*/
li{ color: azure;}

.logo{ margin-left: -29%;}
.navbar-position{ margin-left: 10%;}

table{
	color: white;
}
	
.font-color{
 color: azure;
}

a:link {color:white;}    /* unvisited link */
a:visited {color:white;} /* visited link */
a:hover {color:white;}   /* mouse over link */
a:active {color:white;}  /* selected link */
.nounderline a{
	text-decorationnone;
}

